*{
    background: url('./images/gray-painted-background.jpg');
    background-size: cover;
    background-attachment: fixed;
}


@font-face {
    font-family: 'HeaderFont';
    src: url('./fonts/HappyTimeThree-mDDj.otf') format('opentype');
}

@font-face{
    font-family: 'ErrorFont';
    src: url('./fonts/HussarNovaExtraboldItalic-AWXp.otf')
}

@media (max-width: 768px) {
    .top
    {
        display: none;
    }
}

#loading{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    background-color: transparent;
    font-size:25px
}

#loader-error{
    display: none;
    font-family: 'ErrorFont';
}


body{
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
}


.top{
    margin: 0px auto;
    float: right;
    align-items: flex-end;
}

#image{
    display: none;
}

#image img{
    width: 80vh;
    height:90vh;
    margin-right:20px;
    margin-left: 20px;
}

.bi-translate{
    position: fixed;
    top: 0;
    margin-top:20px;
    margin-left:20px;
    border: 2px;
    color: #000000
    }

.bi-translate:hover{
    transition: all 0.5s ease; 
    color: #E0E0E0 ; 
}

.bottom{
    margin: 0px auto;
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.b-h{
    font-size: 40px;
    font-weight: 400;
    color: #E0E0E0;
    text-align: center;
    font-family: 'HeaderFont';
    line-height: 0.8;
}
.b-t1{
    color: #E0E0E0;
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 20px;

}
.b-t1 p{
    letter-spacing: 1.5px;

}

.b-t2{
    color: #E0E0E0;
    font-size: 12px;
    line-height: 25px;

}
.b-t2 p{
    letter-spacing: 1.5px;

}

.bi-steam:hover{
    transition: all 0.5s ease; 
    color: #000000 ; 
}

.bi-linkedin:hover{
    transition: all 0.5s ease; 
    color: #3366CC ; 
}

.bi-youtube:hover{
    transition: all 0.5s ease; 
    color: #FF0000 ; 
}

.bi-brands{
    font-weight: 400;
    font-size: 35px;
    margin-left: 20px;
    padding-bottom: 20px;
    color: #E0E0E0	;
    }

.link-main{
    display: flex;
    height: 30px;
}

.name{

    height: 70px;
    align-items: center;
    font-size: 23px;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;

}

