<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STaReX</title>
    <link rel="icon" type="image/x-icon" href="../static/images/site.ico">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/css/bootstrap-icons.css">
    <script src="../static/script.js"></script>
</head>
<body>
    <section class="top">
        <div class="image">
            <img src="../static/images/profile.png">
        </div>
        
    </section>
    <div class= 'body-main'>

     <section class="bottom">
        <div class="b-h">
             <h2 id="main-name">Yükleniyor...</h2>
        </div>
        <div class="b-t1">
             <p id="description-first"><b>Yükleniyor...</p>
            
         </div>
         <div class="b-t2">
            <p id="description-second"><b>Yükleniyor...</p>
           
        </div>
     </section>
    <section class="links">
        <div class="link-main">
            <div class="icon">
                <a id="youtube-link" href="#" target="_blank"><i class="bi-3x bi-youtube bi-brands"></i> </a>
                   
            </div>
            <div class="icon">
                <a id="linkedin-link" href="#" target="_blank"><i class="bi-3x bi-linkedin bi-brands"></i> </a>
                       
            </div>
            
            <div class="icon">
                <a id="steam-link" href="#" target="_blank"><i class="bi-3x bi-steam bi-brands"></i> </a>
                     
            </div>

        </div>
    </section>
    </div>
    
</body>
</html>
